---
import DetailsLayout from "../layouts/detailsLayout.astro";
---
<DetailsLayout>
    <main>
        <section class="box1" id="taskTitle">[title taak]</section>
        <section class="box2">
            <section class="taakDetails">
                <section class="beschrijving">
                    <h2>BESCHRIJVING</h2>
                    <p id="taskDescription">[beschrijving taak]</p>
                </section>
                <section class="datumEnCg">
                    <section class="catagory">
                        <h1>CATEGORIE</h1>
                        <h2 id="taskCategory">WERK</h2>
                    </section>
                    <section class="datum">
                        <h1>DATUM</h1>
                        <h2 id="taskDate">[datum taak]</h2>
                    </section>
                </section>
            </section>
            <section class="statusBtn">
                <button onclick="deleteTask()">DELETE</button>
                <button onclick="completeTask()">VOLTOOID</button>
            </section>
        </section>
    </main>
</DetailsLayout>