---
---
<header>
    <section class="logo"><img src="/src/img/logo.webp" alt="VRcafe logo"></section>
    <section class="dashTitle"><h1 id="categoryTitle">TAAK DETAILS</h1></section>
    <section class="backBtn"><a href="index.html"><i class="fa-solid fa-caret-left"></i>TERUG</a></section>
</header>