---
---
<header>
        <section class="logo"><img src="https://vrcafehaarlem.nl/cdn-cgi/image/quality=45,format=avif,slow-connection-quality=25/https://s3.vrcafehaarlem.nl/images/illustrations/kerst/vr%20kerst%20logo%20(3).png" alt="VRcafe logo"></section>
    <section class="dashTitle"><h1 id="categoryTitle">TAAK DETAILS</h1></section>
    <section class="backBtn"><a href="/"><i class="fa-solid fa-caret-left"></i>TERUG</a></section>
</header>