---
---
    <footer>
        <center><section class="triangle-down"></section></center>
        <section class="takenBoard">
            <section class="takenTitle">
                <h1>TAKEN VOLTOOID</h1>
            </section>
            <section class="takenVoltooid">
                <section class="werk">
                    <h2>WERK</h2>
                    <section class="werkScroll">
                    </section>
                </section>
                <section class="uitjes">
                    <h2>UITJES</h2>
                    <section class="uitjesScroll"></section>
                </section>
                <section class="prive">
                    <h2>PRIVE</h2>
                    <section class="priveScroll">
                    </section>
                </section>
            </section>
        </section>
    </footer>
