---
---
    <header>
        <section class="logo"><img src="/src/img/logo.webp" alt="VRcafe logo"></section>
        <section class="dashTitle"><h1>DASHBOARD</h1></section>
        <section class="plusBtn"><button><i class="fa-solid fa-plus"></i></button></section>
    </header>