---
import DetailsHeader from '../components/detailsHeader.astro';
import '../css/taken.css';
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> VRcafe Haarlem | VRtasking</title>
    <link rel="stylesheet" href="/src/css/taken.css">
    <link rel="icon" href="/cropped-Logo-on-purple-1.png" type="x-icon/image">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <script src="/scripts/taakPagina.js" defer></script>
</head>
<body>
    <DetailsHeader />
    <slot />
</body>
</html>