---
import IndexHeader from '../components/indexHeader.astro';
import IndexFooter from '../components/IndexFooter.astro';
import '../css/global.css';
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VRcafe Haarlem | VRtasking</title>
    <link rel="icon" href="/cropped-Logo-on-purple-1.png" type="x-icon/image">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <script src="/main.js" defer></script>

  </head>
<body>
    <IndexHeader/>
    <slot />
    <IndexFooter/>


</body>
</html>